.article-wrapper{
  display: flex;
  justify-content: space-between;

  .left-side{
    flex: 0 1 60%;
    display: flex;
    gap: 2%;
    align-items: center;
  }
  .right-side{
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
  }
}
