<mc-loading *ngIf="isLoading$ | async"></mc-loading>
<mc-error-message *ngIf="error$|async"></mc-error-message>

<div *ngIf="feed$ | async">
  <div class="article-preview"
       *ngFor="let article of (feed$ | async)?.articles"
   >
    <div class="article-meta">
      <div class="article-profile-wrapper">
        <a [routerLink]="['/user-profile', article.author.username]">
          <img [src]="article.author.image">
        </a>
        <a [routerLink]="['/user-profile', article.author.username]">
          <h5>{{article.author.username}}</h5>
        </a>
      </div>
      <div class="info">
        <span class="date">{{article.createdAt}}</span>
      </div>
    </div>
    <div class="pull-xs-right">
      <mc-add-to-favorite
        [isFavorite]="article.favorited"
        [articleSlug]="article.slug"
        [favoritesCount]="article.favoritesCount"
      ></mc-add-to-favorite>
    </div>
    <a class="preview-link"
       [routerLink]="['/articles', article.slug]"
    >
      <h1>{{article.title}}</h1>
      <p>{{article.description}}</p>
      <mc-tags [tags]="article.tagList" ></mc-tags>
    </a>
  </div>

  <mc-pagination [total]="(feed$ | async)?.articlesCount" [limit]="limit" [url]="baseUrl" [currentPage]="currentPage"></mc-pagination>

</div>
