/* You can add global styles to this file, and also import other style files */
body{
  font-size: 1.2rem;
}
.article-preview {
  padding: 2.5rem 0;
}
.green-link {
  color: #5cb85c;
  text-decoration: none;
}
.user-pic{
  height: 40px;
  border-radius: 50%;
}
.nav-link{
  cursor: pointer;
}
